table{
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #000; 
}
td{
    width: 200px;
    height: 150px;
    border: 0;
}
tr:nth-child(2) td:nth-child(2){
    border: 1px solid #000; 
} 