html,
body {
  font-family: "Mulish", sans-serif;
}

header {
  box-sizing: border-box;
  margin: 0 auto;
  background-color: #FFFFFF;
  height: 1000px;
}
@media (max-width: 1920px) {
  header {
    width: 100%;
    height: 1200px;
  }
}
@media (max-width: 1280px) {
  header {
    height: 1038px;
    width: 100%;
  }
}
@media (max-width: 1280px) {
  header {
    height: 668px;
    width: 100%;
  }
}
header .top__menu {
  padding-left: 70px;
  padding-top: 47px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1920px) {
  header .top__menu {
    width: 100%;
  }
}
header .top__menu .container {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1920px) {
  header .top__menu .container {
    width: 1920px;
  }
}
header .main-menu {
  display: flex;
  padding-left: 202px;
}
@media (max-width: 1920px) {
  header .main-menu {
    width: 100%;
  }
}
@media (max-width: 1280px) {
  header .main-menu .langs {
    margin-left: 10px;
  }
}
header .main-menu .langs .lang {
  padding-left: 1px;
  height: 27px;
  border-left: 1px solid #000000;
}
header .main-menu .langs ul h4 {
  font-size: 20px;
  display: flex;
  margin-top: -8px;
}
header .main-menu .langs li {
  margin-right: 50px;
}
@media (max-width: 1280px) {
  header .main-menu .langs li {
    margin-right: -98px;
  }
}
header .main-menu .langs a {
  color: #000000;
  text-transform: uppercase;
  text-decoration: underline;
}
@media (max-width: 1280px) {
  header .main-menu .langs a .line {
    margin-left: -222px;
  }
}
header .button {
  background-color: #F6523C;
  color: #fff;
  text-decoration: none;
  padding: 20px 40px;
  font-weight: 700;
  transition: background-color 0.2s linear;
  margin-left: 6px;
}
@media (max-width: 1280px) {
  header .button {
    box-sizing: border-box;
  }
}
header .button:hover {
  background-color: #FFFFFF;
  border: 2px solid #000000;
  color: #000000;
}
header .menu {
  display: flex;
  margin-right: 55px;
  margin-top: -25px;
}
@media (max-width: 1920px) {
  header .menu {
    width: 100%;
  }
}
header ul {
  display: flex;
  position: relative;
  margin: 0 auto;
  list-style: none;
  margin-right: 175px;
}
header ul h4 {
  font-size: 20px;
  display: flex;
}
header ul li {
  margin: 10px;
}
header ul a {
  text-decoration: none;
  justify-content: space-between;
  color: #000000;
}
header .menu {
  display: flex;
  margin-right: 55px;
  margin-top: -25px;
}
@media (max-width: 1920px) {
  header .menu {
    width: 100%;
  }
}
header ul {
  display: flex;
  position: relative;
  margin: 0 auto;
  list-style: none;
}
@media (max-width: 1920px) {
  header ul {
    margin-right: 216px;
  }
}
header ul h4 {
  font-size: 20px;
  display: flex;
}
header ul li {
  margin: 10px;
}
header ul a {
  text-decoration: none;
  justify-content: space-between;
  color: #000000;
}

.screen-row {
  margin-top: 260px;
}
@media (max-width: 1920px) {
  .screen-row {
    width: 100%;
  }
}
.screen-row h1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;
  position: absolute;
  left: 70.5px;
  top: 143px;
  font-size: 80px;
}

@media (max-width: 1280px) {
  .screen-request-info {
    display: none;
  }
}
.screen-request-info p {
  margin-left: 70px;
  padding-top: 40px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 160%;
}

.web .container .row {
  margin: 90px 43px 143px 33px;
}
.web .container .row .screen-block {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  margin-right: 1093px;
}
.web .container .row .screen-title ul {
  list-style: none;
}
.web .container .row .screen-title ul li {
  line-height: 33px;
}
.web .container .row .screen-title ul li h3 {
  font-size: 20px;
}
.web .container .row .screen-title ul li a {
  text-decoration: none;
  text-transform: uppercase;
}
.web .screen-request .line {
  border-left: 1.5px solid #000000;
  padding-left: 42px;
}
.web h3 {
  text-transform: uppercase;
}

.ras {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  color: #F6523C;
}

.soft {
  color: #000000;
}

.graphic .container .img-graphic {
  margin-top: -677px;
  margin-left: 1200px;
}
@media (min-width: 1920px) {
  .graphic .container .img-graphic {
    display: block;
  }
}
@media (max-width: 1280px) {
  .graphic .container .img-graphic {
    display: none;
  }
}

@media (max-width: 1920px) {
  .web {
    width: 100%;
  }
}
.web .container {
  width: 100%;
}

.screen-row {
  margin-top: 260px;
}
@media (max-width: 1920px) {
  .screen-row {
    width: 100%;
  }
}
.screen-row h1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;
  position: absolute;
  left: 70.5px;
  top: 143px;
  font-size: 80px;
}

@media (max-width: 1280px) {
  .screen-request-info {
    margin-left: 10px;
  }
}
.screen-request-info p {
  margin-left: 70px;
  padding-top: 40px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 160%;
}

.web .container .row {
  margin: 90px 43px 143px 33px;
}
.web .container .row .screen-block {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  margin-right: 1093px;
}
.web .container .row .screen-title ul {
  list-style: none;
}
.web .container .row .screen-title ul li {
  line-height: 33px;
}
.web .container .row .screen-title ul li h3 {
  font-size: 20px;
}
.web .container .row .screen-title ul li a {
  text-decoration: none;
  text-transform: uppercase;
}
.web .screen-request .line {
  border-left: 1.5px solid #000000;
  padding-left: 42px;
}
.web h3 {
  text-transform: uppercase;
}

.ras {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  color: #F6523C;
}

.soft {
  color: #000000;
}

@media (min-width: 1920px) {
  .graphic .container .img-graphic {
    display: block;
    margin-left: 1200px;
    margin-top: -677px;
  }
}
@media (max-width: 1280px) {
  .graphic .container .img-graphic {
    display: none;
  }
}

@media (max-width: 1920px) {
  .web {
    width: 100%;
  }
}
.web .container {
  width: 100%;
}

header .screen-request {
  margin-left: 10px;
}

.products {
  background-color: #000000;
  position: relative;
  top: -70px;
  color: #FFFFFF;
  height: 940px;
}
@media (max-width: 1920px) {
  .products .container {
    width: 100%;
    height: 940px;
  }
}

.text__top h3 {
  padding-left: 70px;
  padding-top: 220px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 160%;
}

.products__items {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  margin-right: 190px;
  margin-top: 158px;
  padding-left: 70px;
}
.products__items__item {
  margin-right: 22px;
}

.products__title a {
  text-decoration: none;
  color: #FFFFFF;
}
.products__title a h4 {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 140%;
  text-transform: uppercase;
}

.products__text {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
}

section .work {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  padding: 25px 20px 2px 10px;
}
@media (max-width: 1920px) {
  section .work {
    width: 100%;
  }
}
@media (max-width: 1280px) {
  section .work {
    width: 100%;
  }
}
@media (max-width: 440px) {
  section .work {
    width: 100%;
  }
}
@media (max-width: 1920px) {
  section .work {
    width: 100%;
  }
}

.work {
  height: 795px;
  background-color: #FFFFFF;
}
.work .left__title h2 {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #000000;
  margin-left: 0px;
}
.work .left__title h2 span {
  color: #F6523C;
}
.work .left__text h3 {
  margin-left: 0px;
  margin-top: 0px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0.01em;
}
.work .left__btn {
  box-sizing: border-box;
  padding-top: 30px;
}
.work .left__btn .button {
  background-color: #FFFFFF;
  color: #000000;
  text-decoration: none;
  padding: 23px 56px;
  font-weight: 700;
  margin-left: -1px;
  transition: background-color 0.2s linear;
  border: 1px solid #000000;
}
.work .left__btn .button:hover {
  background-color: #F6523C;
  color: #FFFFFF;
  border: 1px solid #F6523C;
}
.work .left__btn img {
  margin-top: -16px;
  margin-left: 187px;
}
.work .row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  margin-right: 190px;
  margin-top: 158px;
  padding-left: 70px;
  padding-top: 10px;
}
.work .left {
  margin-right: 130px;
  margin-top: 120px;
}
.work .right {
  margin-top: 0px;
  box-sizing: border-box;
  width: 91%;
}

.producds__items {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  margin-right: 190px;
  margin-top: 158px;
  padding-left: 70px;
}
.producds__items__item {
  margin-right: 22px;
}
.producds__items__item__image img {
  margin-right: 15px;
}
@media (max-width: 1920px) {
  .producds__items__item__image img {
    width: 400px;
    height: 400px;
  }
}
@media (max-width: 1280px) {
  .producds__items__item__image img {
    width: 200px;
    height: 200px;
  }
}
@media (max-width: 768px) {
  .producds__items__item__image img {
    margin-left: 150px;
    margin-top: 150px;
  }
}
@media (max-width: 440px) {
  .producds__items__item__image img {
    margin-left: 100px;
    margin-top: 100px;
  }
}

.producds__title a {
  text-decoration: none;
  color: #000000;
}
.producds__title a h4 {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0.01em;
  text-transform: uppercase;
}

.producds__text {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.01em;
}

@media (max-width: 1920px) {
  .work .container {
    width: 1920px;
  }
}

.technologies {
  background-color: #000000;
  position: relative;
  width: 100%;
  height: 848px;
  top: -70px;
  color: #FFFFFF;
  margin-top: 292px;
}
@media (max-width: 1920px) {
  .technologies {
    width: 100%;
    margin-top: 292px;
  }
}
@media (max-width: 1280px) {
  .technologies {
    width: 100%;
    margin-top: 292px;
  }
}
@media (max-width: 768px) {
  .technologies {
    width: 100%;
    margin-top: 140px;
  }
}
@media (max-width: 440px) {
  .technologies {
    width: 100%;
  }
}
.technologies .left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 30px;
  position: absolute;
  width: 395px;
  height: 150px;
  left: 70px;
  top: 160px;
}
.technologies .left__title {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 600;
  font-size: 31px;
  line-height: 130%;
  letter-spacing: 0.01em;
  text-transform: uppercase;
}
.technologies .left__title p h2 {
  color: #FFFFFF;
}
.technologies .left__text {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 0.01em;
  margin-top: -60px;
}
.technologies .left__text p {
  color: #FFFFFF;
}
@media (min-width: 768px) {
  .technologies .right__block {
    width: 100%;
  }
}
@media (min-width: 440px) {
  .technologies .right__block {
    width: 100% px;
    padding: 50px 20px;
  }
}
.technologies .right__block__one {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 35px 0px;
  gap: 60px;
  position: absolute;
  width: 1068px;
  height: 132px;
  left: 782px;
  top: 160px;
  border-width: 1px 0px;
  border-style: solid;
  border-color: #FFFFFF;
}
.technologies .right__block__two {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 35px 0px;
  gap: 60px;
  position: absolute;
  width: 1068px;
  height: 132px;
  left: 782px;
  top: 292px;
  border-bottom: 1px solid #FFFFFF;
}
.technologies .right__block__three {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 35px 0px;
  gap: 60px;
  position: absolute;
  width: 1068px;
  height: 132px;
  left: 782px;
  top: 424px;
  border-bottom: 1px solid #FFFFFF;
}
.technologies .right__block__foor {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 35px 0px;
  gap: 60px;
  position: absolute;
  width: 1068px;
  height: 132px;
  left: 782px;
  top: 556px;
  border-bottom: 1px solid #FFFFFF;
}
.technologies .right__block__figures h2 {
  width: 59px;
  height: 62px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 300;
  font-size: 48px;
  line-height: 130%;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #F6523C;
}
.technologies .right__block__text p {
  width: 949px;
  height: 56px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #FFFFFF;
}

@media (max-width: 1920px) {
  .technologies .container {
    width: 1920px;
  }
}

.blog {
  background-color: #DFDFDF;
  position: relative;
  width: 100%;
  height: 866px;
  top: -70px;
  color: #000000;
}
@media (max-width: 1280px) {
  .blog {
    width: 100%;
  }
}
@media (max-width: 1920px) {
  .blog {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .blog {
    width: 100%;
  }
}
@media (max-width: 440px) {
  .blog {
    width: 100%;
  }
}
.blog .left {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 30px;
  position: absolute;
  width: 353px;
  height: 246px;
  left: 70px;
  top: 120px;
}
.blog .left__title h2 {
  width: 113px;
  height: 52px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 130%;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #000000;
}
.blog .left__text h3 {
  width: 353px;
  height: 68px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
  letter-spacing: 0.01em;
  margin-top: -30px;
}
.blog .left__btn {
  box-sizing: border-box;
  padding-top: 30px;
}
.blog .left__btn .button {
  background-color: #DFDFDF;
  color: #000000;
  text-decoration: none;
  padding: 23px 56px;
  font-weight: 700;
  margin-left: -1px;
  transition: background-color 0.2s linear;
  border: 1px solid #000000;
}
.blog .left__btn .button:hover {
  background-color: #F6523C;
  color: #FFFFFF;
  border: 1px solid #F6523C;
}
.blog .left__btn img {
  margin-top: -16px;
  margin-left: 187px;
}
.blog .right {
  margin-left: 535px;
}
.blog .right .blog__items {
  display: flex;
  padding-bottom: 50px;
  margin-left: -150px;
}
.blog .right .blog__items__item {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  width: calc((100% - 22px) / 3);
  background: no-repeat 39px 39px, #FFFFFF;
  margin-top: 160px;
  width: 430px;
  height: 546px;
  text-align: left;
  justify-content: center;
  padding: 10px;
}
.blog .right .blog__items:last-child {
  margin-right: 0;
}
.blog .right .blog__items__item__image img {
  margin-right: 15px;
}
.blog .right .blog__title {
  margin-top: 10px;
}
.blog .right .blog__title a {
  text-decoration: none;
  color: #000000;
}
.blog .right .blog__title a h4 {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0.01em;
  text-transform: uppercase;
}
.blog .right .blog__text {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.01em;
}
.blog .right .blog__items__item__image1 {
  position: absolute;
  width: 430px;
  height: 415px;
  text-align: center;
}
.blog .right .blog__items__item__image2 {
  position: absolute;
  width: 430px;
  height: 415px;
  text-align: center;
}
.blog .right .blog__items__item__image3 {
  position: absolute;
  width: 430px;
  height: 415px;
  text-align: center;
}

.blog .left .button img {
  margin-top: -16px;
  margin-left: 187px;
}
.blog .row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  margin-right: 190px;
  padding-left: 70px;
}

.blog__blog {
  margin-top: 158px;
  margin-left: 30px;
}

@media (max-width: 1920px) {
  .blog .container {
    width: 1920px;
  }
}

.contact {
  position: relative;
  height: 980px;
}
@media (max-width: 1920px) {
  .contact {
    width: 100%;
  }
}
@media (max-width: 1280px) {
  .contact {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .contact {
    width: 100%;
  }
}
@media (max-width: 440px) {
  .contact {
    width: 100%;
  }
}
.contact .row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  margin-right: 190px;
  padding-left: 70px;
}
.contact .contact__left {
  margin-left: 70px;
  margin-top: 100px;
}
.contact .contact__left .contact__left__title {
  text-transform: uppercase;
}
.contact .contact__left .contact__left__title h2 {
  font-size: 40px;
}
.contact .contact__left .contact__left__title h2 span {
  color: #F6523C;
}
.contact .contact__left .contact__left__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 18px;
  margin-top: 47px;
}
.contact .contact__left .contact__left__text .net {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 30px;
}
.contact .contact__left .contact__left__text .net .num {
  margin-left: 54px;
  margin-top: -60px;
}
.contact .contact__left .contact__left__text .net .num h3 {
  font-size: 24px;
}
.contact .contact__left .contact__left__text .net .num h3 a {
  text-decoration: none;
  color: #000000;
}
.contact .contact__left .contact__left__text .pl {
  margin-left: 54px;
  margin-top: -60px;
}
.contact .contact__left .contact__left__text .pl h3 {
  font-size: 24px;
}
.contact .contact__left .contact__left__text .eml-p {
  margin-left: 54px;
  margin-top: -60px;
}
.contact .contact__left .contact__left__text .eml-p h3 {
  font-size: 24px;
}
.contact .contact__left .contact__left__text .eml-p h3 a {
  text-decoration: none;
  color: #000000;
}

@media (max-width: 1920px) {
  .contact .container {
    width: 1920px;
  }
}

footer {
  height: 655px;
  position: relative;
  width: 100%;
  background-color: #000000;
  top: -70px;
  color: #FFFFFF;
}
@media (max-width: 1920px) {
  footer {
    width: 100%;
  }
}
@media (max-width: 1280px) {
  footer {
    width: 100%;
  }
}
@media (max-width: 768px) {
  footer {
    width: 100%;
  }
}
@media (max-width: 440px) {
  footer {
    width: 100%;
  }
}
footer .logo img {
  margin-top: 90px;
  margin-left: 70px;
}
footer .company {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 44px;
  position: absolute;
  left: 20.21%;
  right: 71.09%;
  top: 10.69%;
  bottom: 40.46%;
}
footer .market {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 44px;
  position: absolute;
  left: 35.26%;
  right: 50.68%;
  top: 10.69%;
  bottom: 40.46%;
}
footer .market .network {
  padding-top: 13px;
}
footer .connection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 44px;
  position: absolute;
  left: 72.81%;
  right: 9.27%;
  top: 10.69%;
  bottom: 55.27%;
}
footer .bottom h2 {
  position: absolute;
  display: flex;
  justify-content: center;
  left: 36.09%;
  right: 36.09%;
  top: 88.08%;
  bottom: 6.11%;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 25px;
  color: #FFFFFF;
  text-transform: uppercase;
}
footer .bottom__line {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 83.97%;
  bottom: 16.03%;
  border: 1px solid #FFFFFF;
}
footer .company__title {
  margin-top: 10px;
}
footer .company__title h2 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  text-transform: uppercase;
}
footer .company__text {
  margin-left: -41px;
  margin-top: -24px;
}
footer .company__text ul {
  margin: 0 auto;
  list-style: none;
  margin-right: -12px;
}
footer .company__text ul h3 {
  text-transform: uppercase;
}
footer .company__text ul h3 a {
  color: #FFFFFF;
  text-decoration: none;
}

.market__title {
  margin-top: 10px;
}
.market__title h2 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  text-transform: uppercase;
}
.market__text {
  margin-left: -41px;
  margin-top: -24px;
}
.market__text ul {
  margin: 0 auto;
  list-style: none;
  margin-right: -12px;
}
.market__text ul h3 {
  text-transform: uppercase;
}
.market__text ul h3 a {
  color: #FFFFFF;
  text-decoration: none;
}

.connection .title h2 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  text-transform: uppercase;
  margin-left: -44px;
}
.connection .tel .number {
  margin-top: -42px;
}
.connection .tel .number h3 {
  margin-top: 10px;
}
.connection .tel .number h3 a {
  margin-top: -29px;
  color: #FFFFFF;
  text-decoration: none;
}
.connection .tel img {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 30px;
  margin-left: -44px;
}
.connection .adress .place {
  margin-top: -55px;
}
.connection .adress img {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 30px;
  margin-left: -44px;
}
.connection .email-s .email-p h3 {
  margin-top: -29px;
}
.connection .email-s .email-p h3 a {
  color: #FFFFFF;
  text-decoration: none;
}
.connection .email-s img {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 30px;
  margin-left: -44px;
}
.connection .img img {
  margin-top: -17px;
  margin-left: -44px;
}

@media (max-width: 1920px) {
  footer .container {
    width: 1920px;
  }
}

form {
  border: 1px solid #DFDFDF;
  position: relative;
  width: 1280px;
  height: 660px;
  background: #FFFFFF;
  border-radius: 10px;
  margin-left: 147px;
  margin-top: 105px;
  color: #929292;
}
@media (max-width: 1920px) {
  form {
    width: 100%;
  }
}
@media (max-width: 1280px) {
  form {
    width: 100%;
    margin-right: 400px;
  }
}
@media (max-width: 768px) {
  form {
    width: 100%;
    margin-right: 440px;
  }
}
@media (max-width: 440px) {
  form {
    width: 100%;
    margin-right: 440px;
  }
}
form .mb-3 {
  margin-bottom: 25px !important;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
form .mb-3 input {
  border: 0;
  background: none;
  display: block;
  border-bottom: 1.5px solid #929292;
  margin-left: 125px;
  margin-top: 26px;
}
form .mb-3 input[type=text] {
  font-size: 16px;
  text-transform: uppercase;
  color: #929292;
  padding: 5px;
  text-decoration: none;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 500;
}
form .mb-3 textarea {
  text-transform: uppercase;
  padding: 13px 10px 12px 10px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 70px;
  height: 100px;
  border-radius: 0;
  resize: none;
  border: 0;
  border-bottom: 1.5px solid #929292;
  margin-left: 122px;
}
form .mb-3 button {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  background-color: #F6523C;
  color: #fff;
  text-decoration: none;
  padding: 20px 40px;
  transition: background-color 0.2s linear;
  margin-left: 640px;
}
@media (min-width: 768px) {
  form .mb-3 button {
    width: auto;
  }
}
form .mb-3 button:hover {
  background-color: #FFFFFF;
  border: 1px solid #000000;
  color: #000000;
}
form .mb-3 label {
  font-size: 12px;
  line-height: 15px;
  cursor: pointer;
  position: relative;
  display: inline-block;
  margin-left: 159px;
  margin-top: -34px;
}
form .mb-3 label span {
  color: #F6523C;
}/*# sourceMappingURL=style.css.map */